*~
*.elc
ac-comphist.dat
auto-save-list/
elpa/
bookmarks
history
recentf
server/server
projectile.cache
projectile-bookmarks.eld
eshell/
undohist/
url/
custom.el
kkcrc
tramp
transient/